@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Inconsolata:wght@300;400;500;600;700&display=swap');

.navhead-color {
    color: #02CA52;
    position: relative;
}

.navhead-color:hover {
    color: #39b96c;
}

.navhead-color::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    top: 100%;
    background: rgb(162, 255, 0);
    transition: width .25s ease-in-out;
}

.navhead-color:hover:before {
    width: 100%;

}
.navbar-version {
    position: absolute;
    font-family: 'Cherry Bomb One', cursive;
    display: inline-block;
    color: rgb(199, 0, 66);
    text-transform: capitalize;
    transform: rotate(42deg) scale(.4) !important ;
    right: -1.5rem;
    transform-origin: right 1.8rem;
}